#content{
	margin-top: 140px;
	height: 100%;
	background: url(../img/contact.jpg) no-repeat;
	background-position: 0 30px;
	color: #fff;
	padding: 60px 35px;
	font-size: 1.14rem;
	font-weight: bold;
	background-size: cover;
}
#content .title{
	height: 100px;
	line-height: 100px;
}
#content a{
	color: #fff;
}
#allmap{
	height: 100%;
}